@page
@model Namespace.SignupModel
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Φόρμα Εγγραφής</title>
        <link rel="stylesheet" href="~/css/login.css"> <!-- Link to the CSS file -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <style>
            .gap {
                margin-top: 20px; /* Adjust this value as needed */
            }
        </style>
    </head>
    <body>
        <div class="bg-img">
            <div class="content">
                <header>Φόρμα Εγγραφής</header>
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="field">
                        <span class="fa fa-user"></span>
                        <input id="firstName" name="FirstName" type="text" required placeholder="Όνομα">
                    </div>
                    <div class="field">
                        <span class="fa fa-user"></span>
                        <input id="lastName" name="LastName" type="text" required placeholder="Επώνυμο">
                    </div>
                    <div class="field">
                        <span class="fa fa-user"></span>
                        <input id="username" name="Username" type="text" required placeholder="Όνομα Χρήστη">
                    </div>
                    <div class="field">
                        <span class="fa fa-lock"></span>
                        <input id="password" name="Password" type="password" class="pass-key" required placeholder="Κωδικός πρόσβασης">
                        <span class="show">SHOW</span>
                    </div>
                    <div class="field">
                        <span class="fa fa-envelope"></span>
                        <input id="email" name="Email" type="email" required placeholder="Email">
                    </div>
                    <div class="field">
                        <span class="fa fa-phone"></span>
                        <input id="phoneNumber" name="PhoneNumber" type="text" required placeholder="Τηλέφωνο">
                    </div>
                    <div class="field gap">
                        <button type="submit" id="button">ΕΓΓΡΑΦΗ</button>
                    </div>
                </form>
                
                <div class="signup">
                    Έχετε ήδη λογαριασμό;
                    <a href="/Login">Σύνδεση</a>
                </div>
            </div>
        </div>
        <script>
            const pass_field = document.querySelector('.pass-key');
            const showBtn = document.querySelector('.show');
            showBtn.addEventListener('click', function(){
             if(pass_field.type === "password"){
                pass_field.type = "text";
                showBtn.textContent = "HIDE";
                showBtn.style.color = "#3498db";
             }else{
                pass_field.type = "password";
                showBtn.textContent = "SHOW";
                showBtn.style.color = "#222";
             }
            });
        </script>
    </body>
</html>