
section.home {
    background: linear-gradient(to left, rgba(156, 165, 255, 0.7) 0%, rgb(0 255 114 / 60%) 100%);
    height: -webkit-fill-available;
}

.table-container {
    min-width: 700px;
    width: fit-content;
    overflow-y: auto;
    border-radius: 8px;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#appointments-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    font-family: Arial, sans-serif;
}

#appointments-table tbody tr {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    height: 50px;
}

#appointments-table tbody tr {
    background-color: #fff;
}

#appointments-table td {
    width: 33.33%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-right: 2px solid #f0f0f0;
}

#appointments-table td:last-child {
    border-right: none;
}

#appointments-table td button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: inherit;
}

#appointments-table td button.free {
    background-color: green;
    color: white;
}

#appointments-table td button.closed {
    background-color: #757575;
    color: white;
    cursor: not-allowed;
}

#appointments-table td button.free:hover {
    background-color: #0056b3;
}

#appointments-table td button.closed:hover {
    background-color: #000000;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: #ef0000;
    font-size: 25px;
}

.close-btn:hover {
    color: black;
}

.close-btn:active {
    color: red;
}

/* Added styles for zoom controls */
.zoom-controls {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.zoom-controls button {
    background: none;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inside-appointment-flex-container {
    transition: transform 0.3s ease;
}
