
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f5f7;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.profile-sidebar {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 360px;
    padding: 24px;
    text-align: center;
    margin: 24px;
    flex-shrink: 0;
    height: calc(100% - 48px);
}

.profile-header {
    position: relative;
    margin-bottom: 24px;
}

.profile-picture {
    background-color: #695cfe;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #fff;
    margin: 0 auto 12px;
}

.profile-header h1 {
    font-size: 21.6px;
    color: #333;
}

.profile-form {
    text-align: left;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color: #555;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.input-container input {
    width: calc(100% - 48px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: all 0.3s;
}

.input-container input:focus {
    border-color: #695cfe;
    outline: none;
}

.edit-button {
    background-color: transparent;
    border: none;
    color: #695cfe;
    cursor: pointer;
    margin-left: 12px;
    transition: color 0.3s;
}

.edit-button:hover {
    color: #0056b3;
}

section.home {
    height: -webkit-fill-available;
    background: linear-gradient(to right, rgba(156, 165, 255, 0.7) 0%, rgb(0 255 114 / 60%) 100%);
}

i#profile-pic-default {
    font-size: 50px;
}

.zoom-controls {
    padding: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoom-controls button {
    background: none;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-page-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-page {
    transition: transform 0.3s ease;
}
