@font-face {
    font-family: 'Nasa';
    src: url('../fonts/Nasa/nasalization-rg.otf') format('opentype');
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  .bg-img{
    background: url('../img/massage-5578595.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .bg-img:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
  }
  .content header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Nasa', fallback;
  }
  .field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
  }
  .field span{
    color: #222;
    width: 40px;
    line-height: 45px;
  }
  .field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Nasa', fallback;
  }
  .space{
    margin-top: 16px;
  }
  .show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: 'Nasa', fallback;
  }
  .pass-key:valid ~ .show{
    display: block;
  }
  .pass{
    text-align: left;
    margin: 10px 0;
  }
  .pass a{
    color: white;
    text-decoration: none;
    font-family: 'Nasa', fallback;
  }
  .pass:hover a{
    text-decoration: underline;
  }
  #button{
      background: #3498db;
      border: 1px solid #2691d9;
      color: white;
      font-size: 18px;
      letter-spacing: 1px;
      font-weight: 600;
      cursor: pointer;
      font-family: 'Nasa', fallback;
      width: 100%; /* Add this line */
  }
  #button:hover{
      background: #2691d9;
  }
  .login{
      color: white;
      margin: 20px 0;
      font-family: 'Nasa', fallback;
  }
  .links{
    display: flex;
    cursor: pointer;
    color: white;
    margin: 0 0 20px 0;
  }
  .links i{
    font-size: 17px;
  }
  i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Nasa', fallback;
  }
  .signup{
      font-size: 15px;
      color: white;
      font-family: 'Nasa', fallback;
      line-height: 1.5; /* Add this line to increase the space between lines of text */
  }
  .signup a{
      color: #3498db;
      text-decoration: none;
      margin-right: 10px; /* Add this line to add space to the right of each link */
  }
  .signup a:hover{
      text-decoration: underline;
  }
