@font-face {
    font-family: 'Nasa';
    src: url('../fonts/Nasa/nasalization-rg.otf') format('opentype');
}

body {
    background-color: #f0f0f0;
    font-family: 'Nasa', fallback;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.carousel-indicators li {
    padding: 3px;
    width: 60px;
    height: 2px;
    margin: 0 10px; /* Adds space around the indicators */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.container {
    padding-top: 10px;
}

#datepicker {
    float: left;
    margin-top: 120px;
    margin-left: 120px;
}

.ui-datepicker { 
    width: 17em; 
    padding: .2em .2em 0; 
    display: none; 
    font-family: 'Nasa', sans-serif !important;
}

.centered-title {
    text-align: center;
}

.content-container {
    display: flex;
    justify-content: space-between;
}
