@page
@model YourNamespace.Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/site.css"> <!-- Link to the CSS file -->
    <link rel="manifest" href="/manifest.json">
</head>
<body>
    <div class="content-container">
        <!-- Add the datepicker here -->
        <div id="datepicker" class="content-item"></div>
        <div id="matchingClients" class="content-item"></div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        var clients = @Html.Raw(Json.Serialize(Model.Clients));
    </script>
    <script src="~/js/calendar.js"></script> <!-- Link to the JavaScript file -->
</body>
</html>