@page
@model YourNamespace.Admin

<h1>Page Two</h1>
<body>
    <h2>Clients</h2>

    <ul>
    @if (Model.Clients != null)
    {
        @foreach (var client in Model.Clients)
        {
            <li>
                using YourNamespace;
                #line default
                First Name: @client.FirstName<br />
                Last Name: @client.LastName<br />
                Appointment Date: @client.AppointmentDate.ToShortDateString()<br />
                Appointment Time: @client.AppointmentTime.ToString(@"hh\:mm\:ss")<br />
            </li>
        }
    }
</ul>

</body>