@page
@model AdminLoginModel

<form method="post">
    <label for="username">Username:</label>
    <input id="username" name="Username" type="text" />

    <label for="password">Password:</label>
    <input id="password" name="Password" type="password" />

    <button type="submit">Log in</button>
</form>