@page
@model Namespace.appointments

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/appointments.css"> <!-- Link to the CSS file -->
    <link rel="stylesheet" href="~/css/eurethrio.css"> <!-- Link to the CSS file -->
    <link rel="stylesheet" href="~/css/selector.css"> <!-- Link to the CSS file -->
    <link rel="stylesheet" href="~/css/datepicker.css"> <!-- Link to the CSS file -->
</head>

<body id="appointmentsPage">
    <div class="zoom-controls">
        <button id="zoom-in">➕</button>
        <button id="zoom-out">➖</button>
    </div>

    <h1>@ViewData["Title"]</h1>

    <section>
        <div class="flex-container" id="outside-appointment-flex-container">
            <div class="flex-container" id="inside-appointment-flex-container">
                <div class="table-container" id="alphabetButtons"></div>
                <div class="table-container" id="service-container">
                    <table id="services-table">
                        <thead>
                            <tr>
                                <th>Υπηρεσία</th>
                                <th>Διεύθυνση</th>
                                <th>Ώρες Λειτουργίας</th>
                                <th>Κλεισε ραντεβού</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Rows will be dynamically inserted here by JavaScript -->
                        </tbody>
                    </table>
                </div>
                <div>
                    <div id="refresh-button">
                        <i class="fas fa-sync-alt"></i>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="selectedService" />
    </section>
    <div id="blurOverlay"></div>
    <div id="dialog" title="Select a date" style="display:none;">
        <i class="fas fa-times close-btn" style="cursor:pointer;"></i>
        <div id="dialog-content">
            <div class="container">
                <div id="datepicker"></div>
                <div class="table-container" id="ColorsExplainTable">
                    <table>
                        <tr>
                            <th colspan="4" style="text-align:center;">Πληρότητα</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="circle purple1"></div>
                            </td>
                            <td>&lt; 25%</td>
                            <td>
                                <div class="circle purple2"></div>
                            </td>
                            <td>&lt; 50%</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="circle purple3"></div>
                            </td>
                            <td>&lt; 75%</td>
                            <td>
                                <div class="circle purple4"></div>
                            </td>
                            <td>&lt; 100%</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="circle grey-background"></div>
                            </td>
                            <td>100%</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="table-container">
                <table id="appointments-table"></table>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/js/appointments.js"></script> <!-- Link to the JavaScript file -->
    <script src="~/js/selector.js"></script> <!-- Link to the JavaScript file -->
</body>

</html>
