@page
@model Namespace.ChangePassword

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Αλλαγή Κωδικού Πρόσβασης</title>
    <link rel="stylesheet" href="~/css/login.css"> <!-- Link to the CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- loader CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/loader.css">
</head>
<body>
    <div class="loader">
        <div style="--i: 1"></div>
        <div style="--i: 2"></div>
        <div style="--i: 3"></div>
        <div style="--i: 4"></div>
    </div>
    <div class="bg-img">
        <div class="content">
            <header>Αλλαγή Κωδικού Πρόσβασης</header>
            <form method="post" id="change-password-form">
                @Html.AntiForgeryToken()
                <div class="field">
                    <span class="fa fa-lock"></span>
                    <input id="new-password" name="NewPassword" type="password" class="pass-key" required placeholder="Νέος Κωδικός Πρόσβασης">
                    <span class="show">SHOW</span>
                </div>
                <div class="field">
                    <span class="fa fa-lock"></span>
                    <input id="confirm-password" name="ConfirmPassword" type="password" class="pass-key" required placeholder="Επιβεβαίωση Νέου Κωδικού">
                    <span class="show">SHOW</span>
                </div>
                <div class="field">
                    <button type="submit" id="button">Αλλαγή Κωδικού</button>
                </div>
            </form>
            <div class="signup">
                Έχετε λογαριασμό;
                <a href="/Login">Σύνδεση</a>
            </div>
        </div>
    </div>
    <script>
        // ... (Your existing password visibility script) ...
    </script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/change-password.js"></script> <!-- Link to the JS file -->
</body>
</html>
