@page
@model Namespace.dashboard
@{
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<script src="~/js/checkLoginTime.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/dashboard.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- profile CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/profile.css" media="not all">

    <!-- profile CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/appointments.css" media="not all">

    <title>Dashboard Sidebar Menu</title>
</head>

<body>
    <div class="loader">
        <div style="--i: 1"></div>
        <div style="--i: 2"></div>
        <div style="--i: 3"></div>
        <div style="--i: 4"></div>
    </div>
    <div class="flex-container">
        <div>
            <nav class="sidebar close">
                <header>
                    <div class="text logo-text">
                        <span class="name">Codinglab</span>
                        <span class="profession">Web developer</span>
                    </div>
                    <i class='bx bx-chevron-right toggle'></i>
                </header>

                <div class="menu-bar">
                    <div class="menu">

                        <li class="search-box">
                            <i class='bx bx-search icon'></i>
                            <input type="text" placeholder="Search...">
                        </li>

                        <ul class="menu-links">
                            <li class="nav-link" id="profileLink">
                                <a href="#">
                                    <i class='bx bx-home-alt icon'></i>
                                    <span class="text nav-text">Προφίλ</span>
                                </a>
                            </li>

                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-bar-chart-alt-2 icon'></i>
                                    <span class="text nav-text">Revenue</span>
                                </a>
                            </li>

                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-bell icon'></i>
                                    <span class="text nav-text">Notifications</span>
                                </a>
                            </li>

                            <li class="nav-link" id="appointmentLink">
                                <a href="#">
                                    <i class='bx bx-pie-chart-alt icon'></i>
                                    <span class="text nav-text">Κλείνω ραντεβού</span>
                                </a>
                            </li>

                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-heart icon'></i>
                                    <span class="text nav-text">Likes</span>
                                </a>
                            </li>

                            <li class="nav-link">
                                <a href="#">
                                    <i class='bx bx-wallet icon'></i>
                                    <span class="text nav-text">Wallets</span>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="bottom-content">
                        <li class="">
                            <a href="#">
                                <i class='bx bx-log-out icon'></i>
                                <span class="text nav-text">Logout</span>
                            </a>
                        </li>

                        <li class="mode">
                            <div class="sun-moon">
                                <i class='bx bx-moon icon moon'></i>
                                <i class='bx bx-sun icon sun'></i>
                            </div>
                            <span class="mode-text text">Dark mode</span>

                            <div class="toggle-switch">
                                <span class="switch"></span>
                            </div>
                        </li>

                    </div>
                </div>

            </nav>
        </div>
        <div id="pagetobeembedded">
            <section class="home">
                <div class="embedded-page" id="container" data-user-id="@Model.UserId">
                    <div class="text">Dashboard Sidebar</div>
                </div>
            </section>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/js/calendar.js"></script>
    <script src="~/js/dashboard.js"></script>

</body>

</html>