@page
@model Namespace.dashboard
@{
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<script src="~/js/checkLoginTime.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/dashboard.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- profile CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/profile.css" media="not all">

    <!-- app CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/appointments.css" media="not all">

    <!-- loader CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/loader.css">

    <title>Dashboard Sidebar Menu</title>
</head>

<body>
    <div class="loader">
        <div style="--i: 1"></div>
        <div style="--i: 2"></div>
        <div style="--i: 3"></div>
        <div style="--i: 4"></div>
    </div>
    <div class="flex-container">
        <div>
            <nav class="sidebar close">
                <header>
                    <div class="text logo-text">
                        <span class="name">ΣΕΛΙΔΑ ΔΙΑΧΕΙΡΙΣΗΣ</span>
                    </div>
                    <i class='bx bx-chevron-right toggle'></i>
                </header>

                <div class="menu-bar">
                    <div class="menu">

                        <ul class="menu-links">
                            <li class="nav-link" id="profileLink">
                                <a href="#">
                                    <i class='bx bx-home-alt icon'></i>
                                    <span class="text nav-text">Προφίλ</span>
                                </a>
                            </li>

                            <li class="nav-link" id="appointmentLink">
                                <a href="#">
                                    <i class='bx bx-calendar icon'></i> <!-- Changed class here -->
                                    <span class="text nav-text">Κλείνω ραντεβού</span>
                                </a>
                            </li>

                            <li class="nav-link" id="pastappointmentLink">
                                <a href="#">
                                    <i class='bx bx-time-five icon'></i> <!-- Changed class to represent a clock -->
                                    <span class="text nav-text">Παλια ραντεβού</span>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="bottom-content">
                        <li class="">
                            <a href="#">
                                <i class='bx bx-log-out icon'></i>
                                <span class="text nav-text">Αποσύνδεση</span>
                            </a>
                        </li>

                    </div>
                </div>

            </nav>
        </div>
        <div id="pagetobeembedded">
            <section class="home">
                <div class="embedded-page" id="container" data-user-id="@Model.UserId">
                </div>
            </section>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="~/js/dashboard.js"></script>
    

</body>

</html>