@page
@model Namespace.IndexModel
@{
  ViewData["Title"] = "Αρχική σελίδα";
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Interact</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- AppModel -->
  <link rel="manifest" href="~/json/manifest.json">

  <!-- Favicons
    ================================================== -->
  <link rel="icon" type="image/png" href="~/img/piletter.png">
  <link rel="shortcut icon" href="~/img/piletter.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="~/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="~/img/apple-touch-icon-114x114.png">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome/css/font-awesome.css">

  <!-- Stylesheet
    ================================================== -->
  <link rel="stylesheet" type="text/css" href="~/css/style.css">
  <link rel="stylesheet" type="text/css" href="~/css/nivo-lightbox/nivo-lightbox.css">
  <link rel="stylesheet" type="text/css" href="~/css/nivo-lightbox/default.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation
    ==========================================-->
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand page-scroll" href="~/#page-top">ΦΥΣΙΟΘΕΡΑΠΕΥΤΗΡΙΟ ΠΑΠΑΓΙΑΝΝΗΣ</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="~/Login" class="page-scroll">ΣΥΝΔΕΣΗ</a></li>
          <li><a href="~/Signup" class="page-scroll">ΕΓΓΡΑΦΗ</a></li>
          <li><a href="~/Myprofile" class="page-scroll">ΤΑ ΡΑΝΤΕΒΟΥ ΜΟΥ</a></li>
          <li><a href="~/#" class="page-scroll">ΠΛΗΡΟΦΟΡΙΕΣ</a></li>
          <li><a href="~/#" class="page-scroll">ΕΠΙΚΟΙΝΩΝΙΑ</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>
  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 intro-text">
              <h1>ΚΛΕΙΣΕ ΡΑΝΤΕΒΟΥ</h1>
              <h2>ΕΥΚΟΛΑ</h2>
              <h2>ΓΡΗΓΟΡΑ</h2>
              <h2>ΔΩΡΕΑΝ</h2>
              <p>Με την δωρεάν υπηρεσία μας, κλείνετε ραντεβού στις αγαπημένες σας υπηρεσίες χωρίς δεύτερη σκέψη με τρία κλικ! Εγγραφείτε τώρα για να μπορείτε να κλείνετε ραντεβού πανεύκολα!</p>
              <a href="~/Myprofile" class="btn btn-custom btn-lg page-scroll">ΚΛΕΙΣΕ ΤΩΡΑ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About Section -->
  <div id="about">
    <div class="container">
        <div class="row">
          <!-- Carousel -->
        <div class="carousel">
          <img class="carousel-image" src="img/mypic1.jpg">
          <img class="carousel-image" src="img/medic.jpg">
          <img class="carousel-image" src="img/mypic2.jpg">
        </div>
        <!-- ---------- -->
          <div class="col-xs-12 col-md-6">
            <div class="about-text">
              <h2 class = "coloured-faded-text">Σχετικά με εμάς</h2>
              <p>Είμαστε μια κλινική φυσιοθεραπείας που βρίσκεται στην Ελλάδα. Παρέχουμε μια ευρεία γκάμα υπηρεσιών φυσιοθεραπείας για να βοηθήσουμε τους ασθενείς μας να ανακτήσουν την υγεία και την ευεξία τους.</p>
              <h3 class = "coloured-faded-text">Γιατί να μας επιλέξετε;</h3>
              <div class="list-style">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                  <ul>
                    <li>Εξειδικευμένο προσωπικό</li>
                    <li>Προσαρμοσμένα προγράμματα</li>
                    <li>Σύγχρονες εγκαταστάσεις</li>
                    <li>Ευέλικτο ωράριο</li>
                  </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                  <ul>
                    <li>Προσιτές τιμές</li>
                    <li>Ευχάριστο περιβάλλον</li>
                    <li>Εξαιρετική εξυπηρέτηση</li>
                    <li>Αποτελεσματικές θεραπείες</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- Contact Section -->
  <div id="contact">
    <div class="container">
      <div class="col-md-8">
        <div class="row">
          <div class="section-title">
            <h2>Επικοινωνήστε μαζί μας</h2>
            <p>Παρακαλούμε συμπληρώστε την παρακάτω φόρμα για να μας στείλετε ένα email και θα επικοινωνήσουμε μαζί σας το συντομότερο δυνατό.</p>
          </div>
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" id="name" class="form-control" placeholder="Όνομα" required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea name="message" id="message" class="form-control" rows="4" placeholder="Μήνυμα"
                required></textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div id="success"></div>
            <button type="submit" class="btn btn-custom btn-lg">Αποστολή Μηνύματος</button>
          </form>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 contact-info">
        <div class="contact-item">
          <h3>Πληροφορίες Επικοινωνίας</h3>
          <p><span><i class="fa fa-map-marker"></i> Διεύθυνση</span>Οδός Παπαδιαμάντη 123,<br>
            Αθήνα, Ελλάδα 12345</p>
        </div>
        <div class="contact-item">
          <p><span><i class="fa fa-phone"></i> Τηλέφωνο</span> +30 210 123 4567</p>
        </div>
        <div class="contact-item">
          <p><span><i class="fa fa-envelope-o"></i> Email</span> info@physiotherapy.gr</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="social">
            <ul>
              <li><a href="~/#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="~/#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="~/#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="~/#"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Section -->
  <div id="footer">
    <div class="container text-center">
      <p>Designed by TemplateWire Distributed By: <a class="" href="~/https://htmltemplates.co" target="_blank">HTML
          Templates</a></p>
    </div>
  </div>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
  <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/SmoothScroll.js"></script>
  <script type="text/javascript" src="js/nivo-lightbox.js"></script>
  <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
  <script type="text/javascript" src="js/contact_me.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/carousel.js"></script>
</body>

</html>