@page
@model Namespace.Login
<head>
    <link rel="manifest" href="/manifest.json">
</head>
<form method="post">
    @Html.AntiForgeryToken()
    <label for="username">Username:</label>
    <input id="username" name="Username" type="text" />

    <label for="password">Password:</label>
    <input id="password" name="Password" type="password" />

    <button type="submit">Log in</button>
</form>