@page
@model YourNamespace.MyProfile

@{
    ViewData["Title"] = "My Profile";
}
<head>
    <link rel="stylesheet" href="~/css/site.css"> <!-- Link to the CSS file -->
</head>
<h1>@ViewData["Title"]</h1>