@page
@model Namespace.pastAppointments

@{
    ViewData["Title"] = "Past appointments";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/pastappointments.css">
</head>
<body>
    <div id="zoom-controls-container">
        <div class="zoom-controls">
            <button id="zoom-in">➕</button>
            <button id="zoom-out">➖</button>
        </div>
    </div>
    <div id="big-container-wrapper">
        <div id="big-container">
            <div class="solid-container">
                <div class="solid-container" id="search-services-bar">
                    <div class="year-navigation">
                        <button id="prev-year"><img src="img/arrow-down.png" alt="Previous Year" class="arrow-icon rotate-left"></button>
                        <div id="current-year">2024</div>
                        <button id="next-year"><img src="img/arrow-down.png" alt="Next Year" class="arrow-icon rotate-right"></button>
                        <div class="filter-container">
                            <select id="service-filter">
                                <!-- Options will be dynamically populated here -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="solid-container">
                    <div class="outside-calendar-container" id="outside-calendar-container">
                        <div class="calendar-container" id="calendar-container">
                            <!-- Month calendars will be generated here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="appointment-dialog" class="appointment-dialog" title="Appointments">
            <p id="appointment-times"></p>
        </div>
    </div>

    <script src="~/js/pastappointments.js"></script>
</body>
</html>
