@page
@model Namespace.profile
@{
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"] - Profile</title>
    <link rel="stylesheet" type="text/css" href="~/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div id="profile-page-wrapper">
        <div class="zoom-controls">
            <button id="zoom-in">➕</button>
            <button id="zoom-out">➖</button>
        </div>
        <div id="profile-page">
            <div class="flex-container">
                <div class="profile-sidebar">
                    <div class="profile-header">
                        <div class="profile-picture">
                            <i class="fas fa-user" id="profile-pic-default"></i>
                        </div>
                        <h1>Profile</h1>
                    </div>

                    <div class="profile-form">
                        <form>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="input-container">
                                    <input type="email" id="email" readonly />
                                    <button type="button" id="changeEmail" class="edit-button"><i
                                            class="fas fa-pencil-alt"></i></button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <div class="input-container">
                                    <input type="text" id="firstName" readonly />
                                    <button type="button" id="changeFirstName" class="edit-button"><i
                                            class="fas fa-pencil-alt"></i></button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <div class="input-container">
                                    <input type="text" id="lastName" readonly />
                                    <button type="button" id="changeLastName" class="edit-button"><i
                                            class="fas fa-pencil-alt"></i></button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <div class="input-container">
                                    <input type="text" id="phoneNumber" readonly />
                                    <button type="button" id="changePhoneNumber" class="edit-button"><i
                                            class="fas fa-pencil-alt"></i></button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <div class="input-container">
                                    <input type="text" id="username" readonly />
                                    <button type="button" id="changeUsername" class="edit-button"><i
                                            class="fas fa-pencil-alt"></i></button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div class="input-container">
                                    <input type="password" id="password" readonly />
                                    <button type="button" id="changePassword" class="edit-button"><i
                                            class="fas fa-pencil-alt"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/profile.js"></script>
</body>

</html>
